body {
  background-color: #ffffff;
}

.nav-item:hover {
  cursor: pointer;
}

.title {
  font-family: "Rochester", cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
}

.subBanner {
  background-color: #333a40;
}

.subBanner-text {
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.subBanner-text:hover {
  text-decoration: underline !important;
  color: white;
}

.menuTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.buy-btn {
  background: #f2a950 !important;
}

.card-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.mod-btn {
  background: #fdcd55;
}

.cancel-btn {
  background: #8c162c;
  border: 1px solid #000000;
  color: white;
  font-weight: bold;
}

.confirm-btn {
  background: #708c32;
  border: 1px solid #000000;
  color: white;
  font-weight: bold;
}
